  <div class="large-6 columns <%= "hide" unless show %>" id="comparinator">
    <div class="large-6 columns" id="stage_1">
      <div class="row">
      <h4>Whopper from BK</h4>
      </div>
      <div class="row">
        <ul class="large-block-grid-1 medium-block-grid-1 small-block-grid-1">
          <li class="box"><img src="http://www.gq.com/blogs/the-feed/gq-fitness-burgers-blog%5B1%5D.jpg"></li>
        </ul>
      </div>
    </div>

    <div class="large-6 columns" id="stage_2">
      <div class="row">
      <h4>Whopper from BK</h4>
      </div>
      <div class="row">
        <ul class="large-block-grid-1 medium-block-grid-1 small-block-grid-1">
          <li class="box"><img src="http://www.gq.com/blogs/the-feed/gq-fitness-burgers-blog%5B1%5D.jpg"></li>
        </ul>
      </div>
    </div>
  </div>