  <div class="large-6 columns <%= "hide" unless show %>" id="comparinator">
    <div class="row">
      <h4><span>Choose One</span></h4>
    </div>
    <div class="row">
      <ul class="large-block-grid-2 medium-block-grid-2 small-block-grid-2">
        <li id="stage_1">
          <h4><span class="comparinator_name">Whopper</span> from <span class="comparinator_restaurant">BK</span></h4>
          <img class="box" src="http://www.gq.com/blogs/the-feed/gq-fitness-burgers-blog%5B1%5D.jpg">
        </li>
        <li id="stage_2">
          <h4><span class="comparinator_name">Whopper</span> from <span class="comparinator_restaurant">BK</span></h4>
          <img class="box" src="http://upload.wikimedia.org/wikipedia/commons/0/03/Aurelio's_Pizza_(2).jpg">
        </li>
      </ul>
    </div>
  </div>
