  <div class="large-6 columns <%= "hide" unless show %>" id="comparinator">
    <div class="row">
      <h4><span>Choose One</span></h4>
        </div>
        <div class="row">
          <ul class="large-block-grid-2 medium-block-grid-2 small-block-grid-2">
            <li class="box" id="stage_1">
              <h4><span class="comparinator_name">Whopper</span> from <span class="comparinator_restaurant">BK</span></h4>
              <img src="http://www.gq.com/blogs/the-feed/gq-fitness-burgers-blog%5B1%5D.jpg"></li>
            <li class="box" id="stage_2">
              <h4><span class="comparinator_name">Whopper</span> from <span class="comparinator_restaurant">BK</span></h4>
              <img src="http://upload.wikimedia.org/wikipedia/commons/0/03/Aurelio's_Pizza_(2).jpg"></li>
          </ul>

<!--       <div class="large-6 columns" id="stage_2">
        <h4><span id="comparinator_name_2">Whopper</span> from <span id="comparinator_restaurant_2">BK</span></h4>
        <div class="row">
          <ul class="large-block-grid-1 medium-block-grid-1 small-block-grid-1">
            <li class="box"><img src="http://upload.wikimedia.org/wikipedia/commons/0/03/Aurelio's_Pizza_(2).jpg"></li>
          </ul>
        </div>
      </div>-->
    </div>
  </div>