<div class="row text-center">
  <h1>Item from Restaurant</h1>
  <ul class="large-block-grid-2">
    <li class="box"><img src="http://www.gq.com/blogs/the-feed/gq-fitness-burgers-blog%5B1%5D.jpg"></li>
  </ul>
</div>

<!-- <div class="row">
  <ul class="inline-list">
    <li><h1><a href="#" class="button large alert round">X</a></h1></li>
    <li><h1><a href="#" class="button large success round">√</a></h1></li>
  </ul>
</div> -->

<div class="row">
  <div class="small-3 columns"><h1><a href="#" class="button large alert round">X</a></h1></div>
  <div class="small-6 columns"></div>
  <div class="small-3 columns"><h1><a href="#" class="button large success round">√</a></h1></div>
</div>
