<div class="row text-center">
  <%= render partial: 'tinder', locals: {show: true} %>
  <%= render partial: 'comparinator', locals: {show: false} %>

  <div class="large-6 columns">
    <%= render partial: "meal_list" %>
  </div>
</div>
