#comparinator.large-6.columns.hide
  .row
    h4
      span Choose One
  .row
    ul.large-block-grid-2.medium-block-grid-2.small-block-grid-2
      li#stage_1
        h4
          span.comparinator_name Whopper
          | from
          span.comparinator_restaurant BK
        img.box(src='http://www.gq.com/blogs/the-feed/gq-fitness-burgers-blog%5B1%5D.jpg')
      li#stage_2
        h4
          span.comparinator_name Whopper
          | from
          span.comparinator_restaurant BK
        img.box(src='http://upload.wikimedia.org/wikipedia/commons/0/03/Aurelio"s_Pizza_(2).jpg')
