#tinder.large-6.columns
  h4
    span#tinder_name Whopper
    |  from
    span#tinder_restaurant  BK
  .row
    ul.large-block-grid-1.medium-block-grid-1.small-block-grid-1
      li
        img#tinder_image.box(src='http://www.gq.com/blogs/the-feed/gq-fitness-burgers-blog%5B1%5D.jpg')
  .row
    .small-3.columns
      h1
        a#no.button.large.alert.round(href='#') X
    .small-6.columns
    .small-3.columns
      h1
        a#yes.button.large.success.round(href='#') √
